body {
    background-color: darkblue;
    background-image: linear-gradient(to bottom, darkblue, navy);
    background-repeat: no-repeat;
    background-position: top center;
    font-family: Arial, sans-serif;
}

.page-header {

    background-image: linear-gradient(to right, purple, coral);
    border-radius: 16px;
    text-align: center;
    color: white;
}

.Fact-Card {
  background-color: midnightblue;
  border-radius: 12px;
  color: white;
}

.Fact-Card h2 {

    color: coral;
}

.Star {
    width: 60px;
    height: 60px;
    background-color: yellow;
    border-radius: 50%;
    animation: twinkle 2s infinite alternate;
}

@keyframes twinkle {

    from {background-color: yellow;}
    to {background-color: white;}

}

.footer-text {

    text-align: center;
    color: coral
}

